{% extends 'books/base.html' %}
<!-- Import the crispy form templates to use -->
{% load crispy_forms_tags %}

{% block content %}

<!-- Make the screen have a navy background with the card centered -->
<div style="min-height: 100vh; background-color: #1B2A4A; display: flex; align-items: center; justify-content: center;">
    <div class="col-md-4">
        <!-- Add a card with a shadowing effect -->
        <div class="card shadow-lg">
            <div class="card-body p-5">

                <form method="POST">
                    <!-- Generates a token to verify form submission is legit-->
                    {% csrf_token %}
                    <!-- Pipe the form through crispy forms to make it look nice-->
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}