{% extends 'books/base.html' %}
<!-- Import the crispy form templates to use -->
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <!-- Add a card with a shadowing effect -->
             <div class="card shadow-lg">
                <div class="card-body">
                    <!-- Make sure the link is valid -->
                    {% if validlink %}
                        <h2 class="text-center mb-4">Enter New Password</h2>

                        <form method="POST">
                                <!-- Generates a token to verify form submission is legit-->
                            {% csrf_token %}
                            <!-- Pipe the form through crispy forms to make it look nice-->
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary w-100">Change Password</button>
                        </form>
                    {% else %}
                    <h2 class="text-center mb-4">Invalid Reset Link</h2>
                        <p class="text-center">This password reset link is invalid or has already been used.</p>
                        <p class="text-center mt-3">
                            <a href="{% url 'password_reset' %}" class="btn btn-outline-primary">Request New Reset Link</a>
                        </p>
                    {% endif %}
                </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}