{% extends 'books/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <!-- Add a card with a shadowing effect -->
             <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="text-center mb-4">Password Changed Successfully!</h2>
                    <!-- Button that returns user to login page -->
                    <p class="text-center mt-3">
                        <a href="{% url 'login' %}" class="btn btn-outline-primary">Return to Login</a>
                    </p>
                </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}