{% extends 'books/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <!-- Add a card with a shadowing effect -->
             <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h2 class="mb-4">Password Updated</h2>
                    <p>Your password has been changed successfully!</p>
                    <!-- Button that returns user to login page -->
                    <p class="text-center mt-3">
                        <a href="{% url 'profile' %}" class="btn btn-outline-primary">Return to Profile</a>
                    </p>
                </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}